body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:hsl(0, 0%, 10%);
}
.navbar li{
    float:left;
}
table{
   width: "100";
   border-collapse: collapse;  
}
td, th {
    border: 1px;
    text-align: leftpad;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
footer{
    background-color: black;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}